.header-image {
    background-size: cover;
    background-position: 50%;
    display: flex;
}
.gallery-cnt-video:before {
    font-family: Ratchicons;
    font-size: 24px;
    line-height: 1;
    content: "\e816";
    position: absolute;
    color: #FFF;
    left: 50%;
    top: 50%;
    font-size: 60px;
    margin: -30px;
}
.gallery-cnt-video {
    display: inline-block;
    max-width: 400px;
    margin:0 10px 10px 0;
}
.panzoomcnt{
	height:100%;
	width:100%;
}
.panzoom{
	text-align: center;
}
.buttons{
	position: absolute;
	z-index: 2;
	background-color: #FFF;
}
.content>.table-view:first-child {
    margin-top: -1px;
}
.table-view-cell.twitter-feed {
    padding: 11px;
}
.img-responsive {
    max-width: 100%;
    display: inline-block;
}
.table-view-cell small{
	white-space: nowrap;
    font-weight: normal;
}
.icon-small {
	font-size: 15px;
}
.superscript {
	display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.subscript {
    font-size: 14px;
	display: block;
}
.table-view-cell .title-list{
	margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1;
}
.table-view-cell>a:not(.btn){
	margin: -11px -45px -11px -15px;
}
.table-view-cell {
	padding: 11px 45px 11px 15px;
}
.badge {
    padding: 4px 9px 3px;
    border-radius: 4px;
}
.table-view:last-child {
    padding-bottom: 50px;
}
